.inputTask {
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.inputTask input[type=text] {
  height: 100%;
  padding: 10px;
  min-width: 90%;
  background-color: var(--gray-500);
  color: var(--gray-300);
  border:none;
  border-radius: 8px;
}

.inputTask button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  gap: 5px;
  font-size: 0.875rem;
  height: 100%;
  padding: 10px;
  background-color: var(--blue-500);
  color: var(--gray-100);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.1s
}

.inputTask button:hover {
  background-color: var(--blue-300);
}